* {
	margin: 0 auto;
    padding: 0px;
    background-color: #f7f7f7;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #363636;
}

.page
{
	padding: 70px 20px;
	text-align: center;
	font-size: 20px;
}

.top 
{
	position: relative; 
	margin-top: 10%; /* not working rn?? --> */
	display: inline-flex;
	align-items: center;
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
}

#social a, .links a, #title a, #bottomsocial
{
    transition: 0.3s;
}

#social
{
    position: absolute;
	right: 0;
	font-size: 23px;
	padding: 0px 40px;
}

#title a
{
    text-align: center;
    font-size: 35px;
    text-decoration: none;
}

.links 
{
    position: absolute;
	left: 0;
	font-size: 12px;
	padding: 0px 40px;
}

#bottomsocial 
{
	text-align: center;
    font-size: 45px;
}


.links a, #social span, #title a:hover, #bottomsocial span
{
	opacity: 0.4;
	text-decoration: none;
}

.links a:hover, .links a.active, #social span:hover, #bottomsocial span:hover
{
	opacity: 1;
}

.content
{
	padding: 50px 300px;
	text-align: justify;
	font-size: 12px;
	text-transform: uppercase;
}

.copyright
{
	text-align: center;
	font-size: 12px;
	opacity: 0.4;
	padding: 30px 0px;
}

.endpage
{
	padding: 50px 100px;
}
